<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <script src="../lightbox/js/jquery-1.10.2.min.js"></script>
        <script src="../lightbox/js/lightbox-2.6.min.js"></script>
        <link href="../lightbox/css/lightbox.css" rel="stylesheet" />
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>

<body>

   <header>
      <ul class="navigation">
         <li><a href="/_site" title="Back to the main page">home</a></li>
         <li><a href="/_site/pics/"{% if page.url contains "/pics/" %}class="active"{% endif %} title="A selection of recent pictures">pictures</a></li>
         <!--<li><a href="/projects/"{% if page.url contains "/projects/" %}class="active"{% endif %} title="Projects I am or was involved in">Projects</a></li>
         <li><a href="/archive/"{% if page.url contains "/archive/" %}class="active"{% endif %} title="Archived articles">Archive</a></li> -->
         <li><a href="/_site/about/"{% if page.url contains "/about/" %}class="active"{% endif %}>about</a></li>
      </ul>
   </header>
<div class="breaker"></div>
        <div class="container">

                {{ content }}

            <div class="footer">
<!--              <div class="contact">
                <p>
                  Arne Hansen<br />
                </p>
              </div> -->
              <div class="contact">
                <p>
                  <a href="http://github.com/EnraH/">github.com/EnraH</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
